body {
    background: blue;
}

h1 {
    color: white;
}

h2 {
    color: pink;
}

p {
    font-style: italic;
}

div {
background: black;
width: 50%
}

.boxOne {
    color: white;
    background: orange
}

.BoxTwo {
    width: 100%;
    border: solid 1px white;
    margin: auto;
}

.cent {
  position: relative;
  top:25%;
  left:25%;
}